.img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.brdrtop{
    width: 50%;
    height: 3px;
}

.brdrb{
    width: 100%;
    height: 3px;
}

.hr{
    width: 100%;
    height: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: 1;
}